* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
}


.container {
    width: 80%;
    margin: 0 auto;
}

main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .text{
    width: 45%;
}

main .divs .div1{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 30px;
    position: absolute;
    z-index: 10;
}
main .divs .div2{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 10px;
    position: absolute;
    z-index: 20;
}
main .divs .div3{
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 50px;
    position: absolute;
}


 
main .divs{
    display: flex;
    width: 45%;
    height: 100%;
} 

/* main .divs{
    width: 200px;
    height: 100px;
    position: relative;
    background-color: brown;
} */