* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header a {
    text-decoration: none;
}

header .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 10%;
}

header .top-header .info {
    display: flex;
    gap: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: blueviolet;
}

header nav a {
    color: #fff;
    transition: .3s;
}

header nav a:hover{
    color: rgb(46, 2, 89) ;
    transition: .3s;

}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav .logo img{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

main .hero h1 {
    font-size: 45px;
    text-align: center;
}

main .hero .search{
    display: flex ;
    justify-content: space-around;
    align-items: center;
}

main .hero .search select{
    background-color: rgb(129, 129, 129);
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
}

main .hero .search button{
    display: inline-block;
    background-color: royalblue;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 5px;   
    color: #fff;
}

main .hero .search button:hover{
    background-color: #fff;
    transition: .3s;
    color: royalblue;
}

main .hero .card-wrapper{
    display: flex ;
    justify-content: space-around;
    align-items: center;    
    margin-bottom: 100px;
}

main .hero .card-wrapper .card{
    background-color: rgb(218, 218, 218);
    text-align: center;
    margin-top: 70px ;
}

main .hero .card-wrapper .card .btns{
    padding: 15px;
}

main .hero .card-wrapper .card .btns button{
    background-color: rgb(255, 85, 0);
    color: #fff;
    padding: 10px;
    border: 2px solid rgb(255, 85, 0);
    border-radius: 3px;
}

main .hero .card-wrapper .card .btns button:hover{
    background-color: rgb(218, 218, 218);
    color: rgb(255, 85, 0);
    transition: .3s;
}

footer .social-m .social{
    display: flex;
    align-items: center;

}

footer .social-m{
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
    background-color: rgb(255, 85, 0);
}

footer .social-m a{
    color: #fff;
}

footer .social-m .social i {
    background-color: rgb(62, 62, 62);
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 0px 10px;
    border-radius: 10px;
}

footer .social-m{
    color: #fff;
}

footer .main-footer{
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(85, 0, 165);
}

footer .main-footer{
    font-weight: 500;
}

footer .main-footer span a{
    color: rgb(255, 85, 0);
}

footer .main-footer > div{
    width: 22%;
}

footer .main-footer ul {
    list-style: none;
    padding: 0;
}

footer .main-footer ul li::before {
  content: ">";
  font-size: 22px;
  color: #fff;
  margin-right: 5px;
}


footer .main-footer a{
    text-decoration: none;
    color: #fff;
}

footer .main-footer{
    color: #fff;
}

footer .end{
    text-align: center;
}

footer .end span a{
    color: blueviolet;
    text-decoration: none;
}