* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.wrapper{
    min-height: 500px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    border: 2px solid black;
}

.wrapper textarea{
    font-size: 50px;
    height: 100%;
    width: 100%;
    border: 5px solid black;
    padding: 15px;
}
