* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 243, 216);
    margin: 0;
    padding: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container p {
    font-size: 20px;
    line-height: 1.6;
    padding: 5px;
    letter-spacing: 1px;
}

.container h2 , em {
    font-size: 25px;
}


img {
    max-width: 100%;
}

.top-header {
    text-align: center;
}

.top-header img {
    border: 2px dashed rgb(248, 198, 90);
    border-radius: 50%;
    padding: 3px;
}

.social{
    display: flex; 
    justify-content: center;
    align-items: center;
}




footer .social ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}


footer .social a {
    width: 120px;
    height: 30px;
    background-color: #ff7300;
    border: 2px solid #ff7300;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

footer .social a:hover{
    background-color: rgb(255, 243, 216);
    color: #ff7300;
    transition: 0.3s;
}

